<div class="row my-3">
    <div class="col-6 offset-3">
        <section>
            <h2>
                <%= @stock_symbol.symbol %> : <%= @stock_symbol.name %>
            </h2>
            <span>
                Price : $<%= @stock_symbol.price %>
            </span>
        </section>
    </div>
</div>