<div class="row">
    <div class="col-6 offset-3">
        <section>
            <h1>
                <%= @user.name %>
            </h1>
            <span>
                <%= @user.email %>
            </span>
            <div class="lead">
                <% if @user.admin? %>
                Admin User
                <% end %>
            </div>
        </section>
    </div>
</div>