<div class="row">
    This is Home page
    <%= form_tag("home/send_mail", method: "post") do %>
    <button type="submit" class="btn btn-primary">Send test email</button>
    <% end %>
    <div class="col-6 offset-3">
        <ul class="symbols">
            <%= render @symbols %>
        </ul>
        <%= will_paginate %>
    </div>
</div>